body {
  background-color: #1A1A1A !important
}

#menu {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #6A7F10;
  width: 9em;
  color: black;
  font-size: 18pt;
  font-weight: bold;
}

#menu ul {
  padding: 5px 0 0 0;
  margin: 0;
  margin-top: 0;
  list-style: outside url("tick.ico");
}

#menu li {
  margin: 1px 0 0 30px;
  font-weight: bold;
  background-color: #97A558;
  color: black;
  font-size: 16pt;
  padding: 0.15em;
  cursor: pointer;
}

#menu li:hover {
  background-color: #B4BF88;
  text-decoration: none;
  border-color: black;
}

ul#input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20em;
  border: 1px solid black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}

ul#input li {
  width: 100%;
  overflow: auto;
}

select,
input {
  padding-bottom: 0;
  float: right;
  clear: both;
  margin-right: 3em;
  width: 9em;
}

#prevsubnet {
  margin-top: 10px;
  width: 9em;
}

#nextsubnet {

  width: 9em;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  font-size: 1em;
  text-align: left;
  border: 1px solid #55660D;
  padding: 3px 7px 2px 7px;
  background-color: #B4BF88;
}

th {
  /*  text-align: center;*/
  font-size: 1.2em;
  background-color: #6A7F10;
  color: #FFF;
}

td {
  font-family: "Lucida Console", monospace;
}

tr.even td {
  background-color: #97A558;
}

.hidden {
  visibility: hidden;
  border: none;
}

.dec,
.hex {
  width: 8em;
}

.bin {
  width: 15em;
}

.netbits {
  color: red;
}

.subnetbits {
  color: blue;
}

.hostbits {
  color: green;
}

#footer {
  padding-top: 1em;
  text-align: center;
}

.inner-header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #71c55d;
}

#hero {
  margin-top: 40px;
}

#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 3;
  transition: all 0.5s ease;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.scroll-header {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
}

@media (max-width: 1024px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
  color: #71c55d;
}

.nav-menu>li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover>a {
  color: #71c55d;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 4px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
  font-size: 24px;
}

@media (max-width: 1024px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  padding: 6px 22px 6px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  letter-spacing: 0;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #71c55d;
}

#mobile-nav ul .menu-item-active {
  color: #71c55d;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}

.pull-left {
  float: left;
}